
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

  body > div {
    font-family: 'Rubik', sans-serif;;

  .topbar {
    width: 100%;
    background-color: #8B2131;
    height: 43px;
      .row{
        width: 100%;
      }
      .col-top-nav.col-lg-4{
        height: 43px;
        display: flex;
        justify-content: center;

        a.top-nav-text{
          color: #FEC524;
          align-items: center;
          display: flex;
          transition-duration: 0.3s;
        }
          :hover{
              transform: translateY(-8px);
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
              text-decoration: none;
          }
        }
  }
 
    .header-middle {
        height: 100px;
        display: flex;
        align-items: center;

          .col-header-nav{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          a.nav-link {
            color: #0E2240;
          }
          .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #0E2240;
          }
          .icon-block {
            height: 40px;
            transition: color .3s ease;
            cursor: pointer;
            padding-left: 10px;
            padding-right: 10px;
            width: 40px;
            background: #f2f2f2;
            border-radius: 50%;
            display: flex;
            align-items: center;
            margin-left: 10px;
            color: #000;
            border: none;
        }
        .col-header-nav.iconos.col-lg-3 {
          justify-content: flex-end;
        }
    }
    .menu-header {
      height: 53px;
      background-color: #0E2240;
        .menu-principal.nav.nav-pills {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-content: center;
          height: 53px;
        }

        a.nav-link {
            color: #fff;
            text-transform: uppercase;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
          color: #FEC524;
          background-color: transparent;
        }
        
    }

    .carrousel{
      .slide img {
        width: 100%;
      }
      .slick-next {
        right: 22px;
      }
      .slick-prev {
        left: 10px;
        z-index: 1;
      }
      .slick-prev:before, .slick-next:before{ 
        font-size: 35px;
        color: #fff;
      }
    
    }
    
    .bloque-info.col-lg-4 {
      height: 100px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .medio.col-lg-4{
      border-right: 1px solid #0E2240;
      border-left: 1px solid #0E2240;
    }
}

